<div class="contenaire">
  <ejs-grid #grid [dataSource]='interventions' allowPaging='true' allowSorting='true' allowFiltering='true' [pageSettings]='pageSettings'
    [editSettings]='editSettings' [filterSettings]='filterSettings' (actionBegin)='actionBegin($event)'
    (actionComplete)='actionComplete($event) '>
    <e-columns>
      <e-column field='slug' headerText='ID' textAlign='center' width=70></e-column>
      <e-column field='domaine' headerText='Domaine' textAlign='center' width=auto></e-column>
      <e-column field='type' headerText='Type' textAlign='center' width=auto></e-column>
      <e-column field='user' headerText='User' textAlign='center' width=auto></e-column>
      <e-column field='day' headerText='Date' [sortComparer]='sortComparer' textAlign='center' width=auto></e-column>
      <e-column field='priority' headerText='Priotity' textAlign='center' width=auto></e-column>
      <e-column field='departement' headerText='Departement' textAlign='center' width=auto></e-column>
      <e-column field='description' headerText='Desciption' textAlign='center' width=auto></e-column>
      <e-column field='locality' headerText='Locality' textAlign='center' width=120></e-column>
      <e-column field='tech' headerText='tech' textAlign='center'></e-column>
      <e-column field='status' headerText='Status' textAlign='center' width=120></e-column>
    </e-columns>
    <ng-template #editSettingsTemplate let-data>
      <div *ngIf="user.status!='user'">
        <div class="row">
          <div class="col-md-6">
            {{angForm.value.slug}}
          </div>
          <div class="col-md-6">
            {{today | date :  'dd/MM/yyyy' }} {{angForm.value.type}}
          </div>
        </div>
        <form [formGroup]="angForm">
          <div class="form-row">

            <div *ngIf="domaine" class="form-group col-md-6">
              <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="Domaine" formControlName="domaine" [dataSource]='domaine'
                  [fields]="{text:'domaine',value:'domaine' }" placeholder="Domaine" popupHeight='200px'
                  floatLabelType='Always'></ejs-dropdownlist>
              </div>
            </div>

            <div class="form-group col-md-6">
              <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="status" formControlName="status" [dataSource]='lStatus'
                  [fields]="{text:'status',value:'status' }" placeholder="status" popupHeight='200px'
                  floatLabelType='Always' #status></ejs-dropdownlist>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="Departement" formControlName="departement" [dataSource]='departements'
                  [fields]="{text:'departement',value:'departement' }" placeholder="Departement" popupHeight='200px'
                  floatLabelType='Always'></ejs-dropdownlist>
              </div>

            </div>
            <div class="form-group col-md-6">
              <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="priority" formControlName="priority" [dataSource]='priorities'
                  [fields]="{text:'priority',value:'priority' }" placeholder="priority" popupHeight='200px'
                  floatLabelType='Always' #priority></ejs-dropdownlist>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id='tech' #samples formControlName="tech" [dataSource]='techs'
                  [fields]="{text:'fullName',value:'fullName' }" [placeholder]='text' [popupHeight]='height'>
                </ejs-dropdownlist>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="e-float-input e-control-wrapper">
                <input matInput="matInput" placeholder="Locality" formControlName="locality" #locality>
              </div>
            </div>
          </div>
          <div class="form-row">
            <mat-form-field class="form-group col-md-12">
              <mat-label>Description Intervention</mat-label>
              <textarea matInput formControlName="description" placeholder="Description Intervention"
                rows="brightness_4" #description></textarea>
            </mat-form-field>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="e-float-input e-control-wrapper">
                <input matInput="matInput" placeholder="Materiel utilisé" formControlName="useMat" #useMat>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="e-float-input e-control-wrapper">
                <input matInput="matInput" placeholder="Asset" formControlName="asset" #asset>
              </div>
            </div>
          </div>
          <div class="form-row">
            <mat-form-field class="form-group col-md-12">
              <mat-label>Description Solution</mat-label>
              <textarea matInput formControlName="solution" placeholder="Description solution" rows="brightness_4"
                #solution></textarea>
            </mat-form-field>
          </div>
          <div class="form-row">

            <input matInput="matInput" value="{{today | date :  'dd/MM/yyyy' }}" [hidden]="true" #date>
            <div class="form-group col-md-4">
            
               
              </div>

              <div class="form-group col-md-4">
                <button mat-raised-button color="warn" (click)="sendLink(angForm.value.asset)" >historic asset {{angForm.value.asset}}</button >
                 
                </div>
          </div>

        </form>
      </div>
      <div *ngIf="user.status=='user'">
        <form [formGroup]="angForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="Departement" formControlName="departement" [dataSource]='departements'
                  [fields]="{text:'departement',value:'departement' }" placeholder="Departement" popupHeight='200px'
                  floatLabelType='Always'></ejs-dropdownlist>
              </div>

            </div>
            <div class="form-group col-md-6">
              <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="priority" formControlName="priority" [dataSource]='priorities'
                  [fields]="{text:'priority',value:'priority' }" placeholder="priority" popupHeight='200px'
                  floatLabelType='Always' #priority></ejs-dropdownlist>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="e-float-input e-control-wrapper">
                <input matInput="matInput" placeholder="Locality" formControlName="locality" #locality>
              </div>
            </div>
          </div>
        </form>
      </div>

    </ng-template>
  </ejs-grid>
</div>

<!--<ejs-dropdownlist id="tech" disableRipple="disableRipple" formControlName="tech" [dataSource]='techs' [fields]="{text:'fullName',value:'fullName' }" [placeholder]='text' popupHeight='200px' floatLabelType='Always'></ejs-dropdownlist>-->