<!--<ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis'>
    <e-series-collection>
        <e-series [dataSource]='chartData' type='Line' xName='month' yName='sales' name='Sales'></e-series>
    </e-series-collection>
</ejs-chart>
-->
<div fxLayout="row"
fxLayoutAlign="space-evenly cente"
fxLayout.xs="column"
fxFlexFill>

  <ejs-accumulationchart id="chart" >
    <e-accumulation-series-collection>
        <e-accumulation-series [dataSource]='piedata' xName='x' yName=y [pointColorMapping]='map' [dataLabel]='datalabel'radius="55%"></e-accumulation-series>
    </e-accumulation-series-collection>
</ejs-accumulationchart>

</div>

