
<div class="e-card col-12">
  <div class="e-card-header-title">
    Nouveau departement
  </div>
  <div class="e-card-content">
    <form [formGroup]="angForm" novalidate="novalidate">
            <div class="row">
              <div class=col-10>
                <mat-form-field class="full-width">
                  <mat-label>Departement :</mat-label>
                  <input matInput="matInput" placeholder="departement" formControlName="departement" #departement></mat-form-field>
              </div>
            </div>

        <button
        (click)="addNewDepartement(departement.value)"
        mat-raised-button="mat-raised-button-left"
            color="primary"
            >Save</button>
          </form>
  </div>

</div>




