<div class="container">
    <form [formGroup]="angForm" novalidate="novalidate">
        <mat-card class="shipping-card">
            <mat-card-header>
                <mat-card-title>Add Département</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-grid-list>
                        <mat-grid-tile>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Locality</mat-label>
                            <input matInput="matInput" placeholder="Locality" formControlName="locality" #locality></mat-form-field>
                        </mat-grid-tile>
                </mat-grid-list>

            </mat-card-content>
                        <mat-card-actions>

                        </mat-card-actions>
                    </mat-card>
                </form>
              </div>
