<div *ngIf="asset">
  <div class="col-lg-12 control-section card-control-section basic_card_layout">
    <div class="e-sample-resize-container e-card-resize-container">
      <div class='row'>
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 mb-3">
          <div class="row">
            <div class="e-card" id="basic_card">
              <div class="e-card-header">
                <div class="e-card-header-caption">
                  <div class="e-card-header-title">
                    <p>Asset name :{{asset[0].name}} CodeBarre : {{asset[0].codeBarre}}</p>
                    <div class="control-section accordion-control-section">
                      <div class="e-sample-resize-container">
                        <!-- Render the Accoridon Component -->
                        <ejs-accordion>
                          <e-accordionitems>
                            <e-accordionitem *ngFor="let item of asset[0].result" expanded='true'>
                              <ng-template #header>
                                <div>{{item.slug}}</div>
                              </ng-template>
                              <ng-template #content>
                                <div class="row">
                                  <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                    <div tabindex="0" class="e-card" id="basic_card">
                                      <div class="e-card-header">
                                        <div class="e-card-header-caption">
                                          <div class="e-card-header-title">Intervention : {{item.status}}</div>
                                          <div class="e-card-header-title">Priority : {{item.priority}}</div>
                                          <div class="e-card-sub-title">{{item.day}}</div>
                                        </div>
                                      </div>
                                      <div class="e-card-content m-3">
                                       {{item.description}}
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                    <div tabindex="0" class="e-card" id="basic_card">
                                      <div class="e-card-header">
                                        <div class="e-card-header-caption">
                                          <div class="e-card-header-title">Solution:  </div>
                                          <div class="e-card-sub-title">By John Doe | Jan 20, 2018 </div>
                                        </div>
                                      </div>
                                      <div class="e-card-content m-3">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, repellat. Ut harum molestiae aliquid rerum unde voluptatum ducimus, amet excepturi voluptate a quas, suscipit dolor temporibus ad repellendus dicta doloribus.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                            </e-accordionitem>
                          </e-accordionitems>
                        </ejs-accordion>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>