<div *ngIf="asset">
  <div class="col-lg-12 control-section card-control-section basic_card_layout">
    <div class="e-sample-resize-container e-card-resize-container">
      <div class='row'>
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 mb-3">
          <div class="row">
            <div class="e-card" id="basic_card">
              <div class="e-card-header">
                <div class="e-card-header-caption">
                  <div class="e-card-header-title">
                    <p>Asset name :{{asset[0].name}} CodeBarre : {{asset[0].codeBarre}}</p>
                    <div class="control-section accordion-control-section">
                      <div class="e-sample-resize-container">
                        <!-- Render the Accoridon Component -->
                        <ejs-accordion>
                          <e-accordionitems>
                            <e-accordionitem *ngFor="let item of asset[0].solutions ; index as i" expanded='true'>
                              <ng-template #header>
                                <div class=row>
                                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <p>id Intervention: {{asset[0].intervention[i].slug}}   date : {{asset[0].intervention[i].day}}</p> 
                                  </div>
                                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <p> id Solution : {{asset[0].solutions[i]._id}}   date : {{asset[0].solutions[i].date}}</p>
                                  </div>
                                  
                                </div>
                              </ng-template>
                              <ng-template #content>
                                <div class="row">
                                  <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                    <div tabindex="0" class="e-card" id="basic_card">
                                      <div class="e-card-header">
                                        <div class="e-card-header-caption">
                                          <div class="e-card-header-title">Intervention :
                                            {{asset[0].intervention[i].day}}</div>
                                          <div class="e-card-header-title">Priority :
                                            {{asset[0].intervention[i].priority}}</div>

                                        </div>
                                      </div>
                                      <div class="e-card-content m-3">
                                        {{asset[0].intervention[i].description}}
                                      </div>

                                    </div>
                                  </div>
                                  <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                    <div tabindex="0" class="e-card" id="basic_card">
                                      <div class="e-card-header">
                                        <div class="e-card-header-caption">
                                          <div class="e-card-header-title">Solution: {{asset[0].solutions[i].date}}
                                          </div>
                                          <div class="e-card-sub-title">Technicien : {{asset[0].intervention[i].tech}}
                                          </div>
                                        </div>
                                      </div>
                                      <div class="e-card-content m-3">
                                        {{asset[0].solutions[i].solution}} </div>
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                            </e-accordionitem>
                          </e-accordionitems>
                        </ejs-accordion>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>