# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
Front/dist
Front/tmp
Front/out-tsc
# Only exists if Bazel was run
Front/bazel-out

# dependencies
Front/node_modules
Back/node_modules

# profiling files
Front/chrome-profiler-events.json
Front/speed-measure-plugin.json

# IDEs and editors
/.idea
Front/.project
Front/.classpath
Front/.c9/
*.launch
Front/.settings/
*.sublime-workspace

# IDE - VSCode
Front/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
Front/.sass-cache
Front/connect.lock
Front/coverage
Front/libpeerconnection.log
Front/npm-debug.log
Front/yarn-error.log
Front/testem.log
Front/typings

# System Files
Front/.DS_Store
Front/Thumbs.db

./commande
