<div *ngIf="flag" class="row">
  <div class="col-4">
    <div class="row">
      <div class="col-12">
        <app-formulaire-metier (messageEvent)="saveMetier($event)"></app-formulaire-metier>
      </div>      
    </div>
    <div class="row">
      <div class="col-12">
        <app-formulaire-categorie></app-formulaire-categorie>
      </div>      
    </div>
  </div>
  <div class="col-4">
    <app-list-metiers *ngIf="metiers" [metiers]="metiers"></app-list-metiers>
  </div>
  <div class="col-4">
    <app-list-categorie *ngIf="selectcategorie" [selectcategorie]="selectcategorie"></app-list-categorie>
  </div>
</div>

