<div class="container">
<form [formGroup]="angForm" novalidate="novalidate">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Job Request</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list [cols]="breakpoint" rowHeight="2:1.5" (window:resize)="onResize($event)">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Departement</mat-label>
                        <mat-select placeholder="Departement" disableRipple="disableRipple" formControlName="departement" #departement>
                            <mat-option value="1">Option 1</mat-option>
                            <mat-option value="2">Option 2</mat-option>
                            <mat-option value="3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Locality</mat-label>
                        <input matInput="matInput" placeholder="Locality" formControlName="locality" #locality></mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="outline">
                            <mat-label>Priority</mat-label>
                            <mat-select placeholder="Priority" disableRipple="disableRipple" formControlName="priority" #priority>
                                <mat-option value="High">High</mat-option>
                                <mat-option value="Medium">Medium</mat-option>
                                <mat-option value="Low">Low</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>date</mat-label>
                            <input matInput="matInput" value="{{today | date :  'dd/MM/yyyy' }}" [disabled]="true" #date></mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Description Intervention</mat-label>
                        <textarea matInput placeholder="Description Intervention" rows="5" #description></textarea>
                      </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button
                        (click)="addIntervention(departement.value, locality.value, priority.value, date.value, description.value)"

                        mat-raised-button="mat-raised-button-left"
                            color="primary"
                            >Save</button>
                    </mat-card-actions>
                </mat-card>
            </form>
          </div>
