<div class="row" *ngIf="role === 'SuperAdmin'" style="margin-top: 0px;">
  <div class="col-4">
    <div class="e-card-content">
      <app-form-hopital (messageEvent)="update($event)"></app-form-hopital>
    </div>
  </div>
  <div class="col-8">
    <div class="e-card-content">
      <app-list-hospital [addToListHospital]="data"></app-list-hospital>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 0px;">
  <div class="col-12">
    <app-metier-hopital
      *ngIf="metiers"
      [metiers]="metiers"
      [projet]="projet"
    ></app-metier-hopital>
  </div>
</div>
