<div class="row">
  <div class="col-4">
    <div class="e-card-content">
      <app-form-hopital *ngIf="role==='SuperAdmin'" (messageEvent)="update($event)"></app-form-hopital>
    </div>
  </div>
  <div class="col-8">
    <div class="e-card-content">
      <app-list-hospital *ngIf="role==='SuperAdmin'" [addToListHospital]="data"></app-list-hospital>
    </div>
  </div>
  <div class="col-8">
    <div class="e-card-content">
      //TODO a mettre en place les Metier pour chaque Hopitaux
      <app-metier-hopital></app-metier-hopital>
    </div>
  </div>


</div>