<div class="e-card">
  <div class="e-card-contenu">
      <ejs-grid
      [dataSource]='metiers'
      [query]='query'
      [allowPaging]='true'
      [allowSorting]='true'
      [allowFiltering]='true'
      [filterSettings]='filterSettings'
      [pageSettings]='pageSettings'
      [editSettings]='editSettings'
      (actionComplete)="actionComplete($event)"
      (actionBegin)="actionBegin($event)"
      [toolbar]='toolbar'>

      <e-columns>
         <e-column field='metier' textAlign='metier' format='c2' width='120' editType='input'  [validationRules]='priorityrules'></e-column>
       </e-columns >
  </ejs-grid>
  </div>

</div>
