<div *ngIf="projetMetier" class="e-card">
  <div class="row">
    <!--selection projet-->

    <div class="col-xs-12 col-sm-12 col-lg-2 col-md-3">
      <div class="row">
        <div *ngIf="_idCat" class=" e-card col-12">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-title">
                <h6>Add new Sub-categorie</h6>
              </div>
            </div>
          </div>
          <div class="e-card-content">
            <form id="categorieForm" [formGroup]="categorieForm" class="form-horizontal" novalidate="">
              <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                  <div class="e-float-input">
                    <input id="name" type="text" formControlName="name" />
                    <span class="e-float-line"></span>
                    <label for="name" class="e-float-text">Sub-Categorie</label>
                  </div>
                </div>
              </div>
            </form>
            <button (click)="saveSub(categorieForm)" mat-raised-button="mat-raised-button-left" color="primary"
              [disabled]="!categorieForm.valid">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
      <div class="row" style="margin-top: 0px;">
        <div class="e-card" id="basic_card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">
                <h5>Categories {{ projetMetier.project }}</h5>
              </div>
            </div>
          </div>

          <div class="e-card-content">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
              <div class="row">
                <div class="col-6">
                  <ejs-grid id="Grid" #grid (rowDragStart)="rowDragStart($event)" (rowDrop)="rowDrop($event)"
                    [dataSource]="constMetiers" [allowSelection]="true" [allowRowDragAndDrop]="true"
                    [selectionSettings]="selectionOptions" [rowDropSettings]="srcDropOptions" width="100%">
                    <e-columns>
                      <e-column field="name" headerText="Categories" width="120" textAlign="Right"></e-column>
                    </e-columns>
                  </ejs-grid>
                </div>
                <div class="col-6">
                  <ejs-grid id="DestGrid" #grid1 [dataSource]="metierToHospital" (rowDragStart)="rmRowDragStart($event)"
                    (rowDrop)="rowDrop($event)" [allowSelection]="true" [allowRowDragAndDrop]="true"
                    [selectionSettings]="selectionOptions" [rowDropSettings]="destDropOptions"
                    (rowSelected)="rowSelected($event)" width="100%">
                    <e-columns>
                      <e-column field="name" headerText="Categories in to Hospital" width="120" textAlign="Right">
                      </e-column>
                    </e-columns>
                  </ejs-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Liste famille dispo-->

    <div *ngIf="flagShowSubCat" class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
      <div class="row" style="margin-top: 0px;">
        <div class="e-card" id="basic_card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">
                <h5>Sub-categories of {{ nameCategorie }}</h5>
              </div>
            </div>
          </div>

          <div class="e-card-content">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
              <div class="row">
                <div class="col-6">
                  <ejs-grid id="Grid2" #grid2 [dataSource]="listeSubCatStandar" (rowDragStart)="subRowDragStart($event)"
                    (rowDrop)="subRowDrop($event)" [allowSelection]="true" [allowRowDragAndDrop]="true"
                    [selectionSettings]="selectionOptions" [rowDropSettings]="srcDropOptions" width="100%">
                    <e-columns>
                      <e-column field="name" headerText="Sub-categories" width="120" textAlign="Right"></e-column>
                    </e-columns>
                  </ejs-grid>
                </div>
                <div class="col-6">
                  <ejs-grid id="DestGrid2" #grid3 [dataSource]="subCatToHospital" (rowDragStart)="subRmRowDrag($event)"
                    (rowDrop)="subRowDrop($event)" [allowSelection]="true" [allowRowDragAndDrop]="true"
                    [selectionSettings]="selectionOptions" [rowDropSettings]="destDropOptions"
                    (rowSelected)="rowSelectedSub($event)" width="100%">
                    <e-columns>
                      <e-column field="name" headerText="Sub-categories in to Hospital" width="120" textAlign="Right">
                      </e-column>
                    </e-columns>
                  </ejs-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!--Liste Metier dispo-->

  </div>
</div>

