<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
  <div class="row" style="margin-top: 0px;">
    <div class="e-card" id="basic_card">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title">
            <h3>Setting Hospital</h3>
          </div>
        </div>
      </div>

      <div class="e-card-content">
        <div class="row">
          <!--selection projet-->

          <div class="col-xs-12 col-sm-12 col-lg-2 col-md-3">
            <div class="row">
              <div class="col-12">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                  <span class="e-float-line"></span>
                  <label for="country" class="e-float-text"
                    >Hospital name :</label
                  >
                  <div class="e-float-input" popupHeight="200px" e-disabled>
                    {{ projet[0].project }}
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                  <span class="e-float-line"></span>
                  <label for="country" class="e-float-text">Country</label>
                  <div class="e-float-input" popupHeight="200px" e-disabled>
                    {{ projet[0].country }}
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                  <span class="e-float-line"></span>
                  <label for="structure" class="e-float-text">Structure</label>
                  <div class="e-float-input" popupHeight="200px" e-disabled>
                    {{ projet[0].ipdStructure }}
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                  <span class="e-float-line"></span>
                  <label for="level" class="e-float-text">Leve of Car</label>
                  <div class="e-float-input" popupHeight="200px" e-disabled>
                    {{ projet[0].leveOfCare }}
                  </div>
                </div>
              </div>

              <div *ngIf="metierSelect" class=" e-card col-12">
                <div class="e-card-header">
                  <div class="e-card-header-caption">
                    <div class="e-card-title">
                      <h6>Add new Sub-categorie</h6>
                    </div>
                  </div>
                </div>
                <div class="e-card-content">
                  <form
                    id="categorieForm"
                    [formGroup]="categorieForm"
                    class="form-horizontal"
                    novalidate=""
                  >
                    <div class="form-group">
                      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <div class="e-float-input">
                          <input
                            id="categorie"
                            type="text"
                            formControlName="categorie"
                          />
                          <span class="e-float-line"></span>
                          <label for="categorie" class="e-float-text"
                            >Sub-Categorie</label
                          >
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <div class="e-float-input">
                          <div id="default-control">
                            <input
                              ejs-colorpicker
                              id="color-picker"
                              type="color"
                              formControlName="color"
                            />
                            <label for="description" class="e-float-text"
                              >Choose a color</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <button
                    (click)="saveSub(categorieForm)"
                    mat-raised-button="mat-raised-button-left"
                    color="primary"
                    [disabled]="!categorieForm.valid"
                  >
                    Save
                  </button>
                </div>
                <!--//bugAverifier[disabled]="!categorieForm.valid" -->
              </div>
            </div>
          </div>
          <!--Liste Metier dispo-->
          <div class="col-xs-12 col-sm-12 col-lg-5 col-md-4">
            <div class="row" style="margin-top: 0px;">
              <div class="e-card" id="basic_card">
                <div class="e-card-header">
                  <div class="e-card-header-caption">
                    <div class="e-card-header-title">
                      <h5>List of catégories</h5>
                    </div>
                  </div>
                </div>

                <div class="e-card-content">
                  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <div class="row">
                      <div class="col-6">
                        <ejs-grid
                          id="Grid"
                          #grid
                          (rowDragStart)="rowDragStart($event)"
                          (rowDrop)="rowDrop($event)"
                          [dataSource]="constMetiers"
                          [allowSelection]="true"
                          [allowRowDragAndDrop]="true"
                          [selectionSettings]="selectionOptions"
                          [rowDropSettings]="srcDropOptions"
                          width="100%"
                        >
                          <e-columns>
                            <e-column
                              field="name"
                              headerText="Categories"
                              width="120"
                              textAlign="Right"
                            ></e-column>
                          </e-columns>
                        </ejs-grid>
                      </div>
                      <div class="col-6">
                        <ejs-grid
                          id="DestGrid"
                          #grid2
                          [dataSource]="metierToHospital"
                          (rowDragStart)="rmRowDragStart($event)"
                          (rowDrop)="rowDrop($event)"
                          [allowSelection]="true"
                          [allowRowDragAndDrop]="true"
                          [selectionSettings]="selectionOptions"
                          [rowDropSettings]="destDropOptions"
                          (rowSelected)="rowSelected($event)"
                          width="100%"
                        >
                          <e-columns>
                            <e-column
                              field="name"
                              headerText="Categories in to Hospital"
                              width="120"
                              textAlign="Right"
                            ></e-column>
                          </e-columns>
                        </ejs-grid>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Liste famille dispo-->
          <div *ngIf="subCat" class="col-xs-12 col-sm-12 col-lg-5 col-md-4">
            <div class="row" style="margin-top: 0px;">
              <div class="e-card" id="basic_card">
                <div class="e-card-header">
                  <div class="e-card-header-caption">
                    <div class="e-card-header-title">
                      <h5>List Sub-categories of {{ subCat.name }}</h5>
                    </div>
                  </div>
                </div>

                <div class="e-card-content">
                  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <div class="row">
                      <div class="col-6">
                        <ejs-grid
                          id="Grid"
                          [dataSource]="metierSelect"
                          (rowDragStart)="subRowDragStart($event)"
                          (rowDrop)="subRowDrop($event)"
                          [allowSelection]="true"
                          [allowRowDragAndDrop]="true"
                          [selectionSettings]="selectionOptions"
                          [rowDropSettings]="srcDropOptions"
                          width="100%"
                        >
                          <e-columns>
                            <e-column
                              field="name"
                              headerText="Sub-categories"
                              width="120"
                              textAlign="Right"
                            ></e-column>
                          </e-columns>
                        </ejs-grid>
                      </div>
                      <div class="col-6">
                        <ejs-grid
                          id="DestGrid"
                          [dataSource]="subCat.categorie"
                          (rowDragStart)="subRowDragStart($event)"
                          (rowDrop)="subRmRowDrag($event)"
                          [allowSelection]="true"
                          [allowRowDragAndDrop]="true"
                          [selectionSettings]="selectionOptions"
                          [rowDropSettings]="destDropOptions"
                          width="100%"
                        >
                          <e-columns>
                            <e-column
                              field="name"
                              headerText="Sub-categories in to Hospital"
                              width="120"
                              textAlign="Right"
                            ></e-column>
                          </e-columns>
                        </ejs-grid>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
