<div class="e-card col-12">
  <div class="e-card-header-title">
    Nouveau metier
  </div>
  <div class="e-card-content">
    <form [formGroup]="angForm">
            <div class="row">
              <div class=col-10>
                <mat-form-field class="full-width">
                  <mat-label>metier :</mat-label>
                  <input matInput="matInput" placeholder="metier" formControlName="metier" #metier></mat-form-field>
              </div>
            </div>

        <button
        (click)="addNewMetier(metier.value)"
        mat-raised-button="mat-raised-button-left"
            color="primary"
            >Save</button>
          </form>
  </div>

</div>
