<div class="e-card col-12">
  <div class="e-card-header-title">
    Technicien
  </div>
  <div class="e-card-content">
    <form [formGroup]="angForm" novalidate="novalidate">
            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width">
                  <mat-label>Nom</mat-label>
                  <input matInput="matInput" placeholder="Nom" formControlName="nom" #nom></mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width">
                  <mat-label>Prénom</mat-label>
                  <input matInput="matInput" placeholder="Prenom" formControlName="prenom" #prenom></mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
            <mat-form-field class="full-width">
                    <mat-label>Métier</mat-label>
                    <mat-select placeholder="métier" disableRipple="disableRipple" formControlName="metier" #departement>
                      <mat-option *ngFor="let metier of metiers" [value]="metier">
                        {{metier}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

        <button
        (click)="addNewDepartement(departement.value)"
        mat-raised-button="mat-raised-button-left"
            color="primary"
            >Save</button>
          </form>
  </div>

</div>
