<mat-card>
  <form [formGroup]="userForm" novalidate="novalidate" >
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <img  src="../../assets/img/logo.png">
  </div>
    <mat-card-content>
       <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
         <mat-form-field>
        <mat-label>fullName</mat-label>
        <input matInput="matInput" type="text" placeholder="fullName" formControlName="fullName" #fullName required>
         </mat-form-field>
       </div>
       <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
          <mat-form-field>
         <mat-label>password</mat-label>
         <input matInput="matInput" type="password" placeholder="password" formControlName="password" #password required>
          </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions align="center">
        <button mat-flat-button color="primary"(click)="onLoginSubmit(userForm)" [disabled]=!userForm.valid>Sign in</button>

    </mat-card-actions>
</form>
<div class="alert"*ngIf="serverErrorMessages">{{serverErrorMessages}}</div>
</mat-card>

