    <div class="control-section">
        <ejs-grid [dataSource]='interventions' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar' (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event) '>
            <e-columns>
                <e-column field='_id' headerText='id' width='120' textAlign='Right' [isPrimaryKey]='true'></e-column>
                <e-column field='departement' headerText='Departement' width='120'></e-column>
                <e-column field='locality' headerText='Locality' width='120' format='C2' textAlign='Right'></e-column>
                <e-column field='priority' headerText='Priority' width='130' format='yMd' textAlign='Right'></e-column>
                <e-column field='day' headerText='Date' width='150'></e-column>
                <e-column field='description' headerText='Description' width='150'></e-column>
                <e-column field='status' headerText='Status' width='150'></e-column>
                <e-column field='type' headerText='Type' width='150'></e-column>
            </e-columns>
            <ng-template #editSettingsTemplate let-data>
                <form [formGroup]="angForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="e-float-input e-control-wrapper" >
                                <ejs-dropdownlist id="Departement" formControlName="departement" [dataSource]='departements' [fields]="{text:'departement',value:'departement' }" placeholder="Departement" popupHeight='200px' floatLabelType='Always'></ejs-dropdownlist>
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                          <div class="e-float-input e-control-wrapper" >
                            <mat-label>Locality</mat-label>
                        <input matInput="matInput" placeholder="Locality" formControlName="locality" #locality>
                        </div>

                      </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="e-float-input e-control-wrapper" >
                                <ejs-dropdownlist id="tech" formControlName="tech" [dataSource]='techs' [fields]="{text:'tech',value:'tech' }" placeholder="Technicien" popupHeight='200px' floatLabelType='Always'></ejs-dropdownlist>
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                          <div class="e-float-input e-control-wrapper" >
                            <mat-label>Locality</mat-label>
                        <input matInput="matInput" placeholder="Locality" formControlName="locality" #locality>
                        </div>

                      </div>
                      </div>
                    </form>


            </ng-template>
        </ejs-grid>
    </div>


   <!-- <mat-card id='master-card'>
        <mat-card-title>
            Liste Job Request
        </mat-card-title>
        <mat-card-content>
            <ejs-grid
                [dataSource]='interventions'
                [query]='query'
                [allowPaging]='true'
                [allowSorting]='true'
                [allowFiltering]='true'
                [filterSettings]='filterSettings'
                [pageSettings]='pageSettings'
                [editSettings]='editSettings'
                (actionComplete)="actionComplete($event)"
                (actionBegin)="actionBegin($event)"
                [toolbar]='toolbar'>

                <e-columns>
                    <e-column field='_id' headerText='id' textAlign='Right' width='120'isPrimaryKey='true'></e-column>
                    <e-column field='day' headerText='day' width='100' isPrimaryKey='true'></e-column>
                    <e-column field='locality' textAlign='locality' format='c2' width='120'></e-column>
                    <e-column field='priority' textAlign='priority' format='c2' width='120' editType='dropdownedit'  [validationRules]='priorityrules'></e-column>
                    <e-column field='description' textAlign='description' format='c2' width='120'></e-column>
                    <e-column field='departement'editType='dropdownedit' width='120' [dataSource]='departements' ></e-column>
                    <e-column field='status' headerText='Statut' width='120' editType='dropdownedit'  [validationRules]='priorityrules'></e-column>
                  </e-columns >

            </ejs-grid>

        </mat-card-content>
    </mat-card>



  https://stackblitz.com/run?file=dialog-reactive-form.html


  -->
