<div class="container">
    <mat-card id='master-card'>
        <mat-card-title>
            Liste Job Request
        </mat-card-title>
        <mat-card-content>
            <ejs-grid
                [dataSource]='data'
                [query]='query'
                [allowPaging]='true'
                [allowSorting]='true'
                [allowFiltering]='true'
                [filterSettings]='filterSettings'
                [pageSettings]='pageSettings'
                [editSettings]='editSettings'
                (actionComplete)="actionComplete($event)"
                (actionBegin)="actionBegin($event)"
                [toolbar]='toolbar'>

                <e-columns>
                    <e-column field='_id' headerText='id' textAlign='Right' width='120'isPrimaryKey='true'></e-column>
                    <e-column field='day' headerText='day' width='100' isPrimaryKey='true'></e-column>
                    <e-column field='locality' textAlign='locality' format='c2' width='120'></e-column>
                    <e-column field='priority' textAlign='priority' format='c2' width='120' editType='dropdownedit'  [validationRules]='priorityrules'></e-column>
                    <e-column field='description' textAlign='description' format='c2' width='120'></e-column>
                    <e-column field='departement' textAlign='departement' format='c2' width='120' editType='dropdownedit'  [validationRules]='priorityrules'></e-column>
                    <e-column field='status' headerText='Statut' width='140' editType='dropdownedit'  [validationRules]='priorityrules'></e-column>

                  </e-columns >
            </ejs-grid>

        </mat-card-content>
    </mat-card>
</div>
