#master-card{
  margin-top: 10px;
  border-top-width: 10px;
  padding-top: 20px;
  top: 0px;
  min-width: 120px;
  margin: 20px auto;
  width: 100%;
}
.mat-card{

  margin-top: 10px;
  border-top-width: 10px;
  padding-top: 20px;
  top: 0px;
  margin-top: 2%;


}
.mat-grid-list{
  height: 50px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 26px;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}
