<div>
  <form [formGroup]="angForm" novalidate="novalidate">
    <div class="form-group">
      <div class="form-row">
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
          <ejs-dropdownlist
            id="idDepartement"
            (filtering)="onFiltering($event)"
            formControlName="idDepartement"
            [dataSource]="departements"
            [fields]="{ text: 'departement', value: '_id' }"
            placeholder="Departement *"
            popupHeight="200px"
            floatLabelType="Always"
            #departement
          ></ejs-dropdownlist>
          <mat-error
            *ngIf="
              angForm.get('idDepartement').hasError('required') &&
              angForm.get('idDepartement').touched
            "
          >
            <span> Departement is required </span>
          </mat-error>
        </div>

        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
          <div class="e-float-input">
            <input id="locality" type="text" formControlName="locality" />
            <span class="e-float-line"></span>
            <label for="locality" class="e-float-text">Locality</label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
          <ejs-dropdownlist
            id="priority"
            formControlName="priority"
            (filtering)="onFiltering($event)"
            [dataSource]="lPriority"
            [fields]="{ text: 'priority', value: 'priority' }"
            placeholder="Priority *"
            popupHeight="200px"
            floatLabelType="Always"
            #priority
          ></ejs-dropdownlist>
          <mat-error
            *ngIf="
              angForm.get('priority').hasError('required') &&
              angForm.get('priority').touched
            "
          >
            <span> Priority is required </span>
          </mat-error>
        </div>

        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
          <div class="e-float-input">
            <input id="asset" type="text" formControlName="asset" />
            <span class="e-float-line"></span>
            <label for="asset" class="e-float-text">Code Barre</label>
            <span class="e-float-line"></span>
            <label for="asset" class="e-float-text"></label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <mat-form-field class="form-group col-md-12">
        <mat-label>Description intervention *</mat-label>
        <textarea
          matInput
          formControlName="description"
          placeholder="Description"
          rows="brightness_4"
          #description
        ></textarea>

        <mat-error
          *ngIf="
            angForm.get('description').hasError('required') &&
            angForm.get('description').touched
          "
        >
          <span> Description is required </span>
        </mat-error>
        <mat-error *ngIf="angForm.get('description').hasError('minlength')">
          <span> Description is required min 4 charaters </span>
        </mat-error>
        <mat-error *ngIf="angForm.get('description').hasError('maxlength')">
          <span> Description is required max 500 charaters </span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <button
        (click)="addIntervention(angForm)"
        mat-raised-button="mat-raised-button-left"
        color="primary"
        [disabled]="!angForm.valid"
      >
        Save
      </button>
    </div>
  </form>
  <ejs-toast #element [position]="position"> </ejs-toast>
</div>
