.e-dialog.e-popup {
    width: 10%;
   display: flex;
    left: 300px;
    top: 392.5px;
    z-index: 1000;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    position: absolute;
    cursor: auto;
}