<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
  <div class="row" style="margin-top: 0px;">
    <div class="e-card" id="basic_card">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title">
            <h3>New User</h3>
          </div>
        </div>
      </div>
      <div class="e-card-content">
        <form [formGroup]="userForm" novalidate="novalidate">
          <div class="form-group">
            <div class="form-row">
              <!--selection projet-->
              <div class="col-xs-12 col-sm-12 col-lg-2 col-md-4">
                <div
                  *ngIf="projet.length > 1"
                  class="col-xs-12 col-sm-12 col-lg-12 col-md-12"
                >
                  <ejs-dropdownlist
                    id="projet"
                    class="e-float-text"
                    formControlName="projet"
                    [dataSource]="data"
                    [fields]="{ text: 'project', value: '_id' }"
                    placeholder="Projet"
                    popupHeight="200px"
                    (change)="onChange($event)"
                    floatLabelType="Always"
                    #projet
                  ></ejs-dropdownlist>
                </div>
                <div *ngIf="hopital.country">
                  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <span class="e-float-line"></span>
                    <label for="country" class="e-float-text"
                      >Hospital name :</label
                    >
                    <div class="e-float-input" popupHeight="200px" e-disabled>
                      {{ hopital.project }}
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <span class="e-float-line"></span>
                    <label for="country" class="e-float-text">Country</label>
                    <div class="e-float-input" popupHeight="200px" e-disabled>
                      {{ hopital.country }}
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <span class="e-float-line"></span>
                    <label for="structure" class="e-float-text"
                      >Structure</label
                    >
                    <div class="e-float-input" popupHeight="200px" e-disabled>
                      {{ hopital.ipdStructure }}
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <span class="e-float-line"></span>
                    <label for="level" class="e-float-text">Leve of Car</label>
                    <div class="e-float-input" popupHeight="200px" e-disabled>
                      {{ hopital.leveOfCare }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
                <div class="form-group">
                  <div class="form-row">
                    <!--FullName-->
                    <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                      <div class="e-float-input">
                        <input
                          id="fullName"
                          type="text"
                          formControlName="fullName"
                          placeholder="fullName"
                        />
                        <span class="e-float-line"></span>
                        <label for="fullName" class="e-float-text"
                          >Full Name</label
                        >
                      </div>
                    </div>
                    <!--Email-->
                    <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                      <div class="e-float-input">
                        <input
                          id="email"
                          type="text"
                          formControlName="email"
                          placeholder="email@email.com"
                        />
                        <span class="e-float-line"></span>
                        <label for="email" class="e-float-text">Email</label>
                      </div>
                    </div>
                    <!--Role-->
                    <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                      <ejs-dropdownlist
                        class="e-float-text"
                        id="statut"
                        formControlName="statut"
                        [dataSource]="status"
                        [fields]="{ text: 'statut', value: 'statut' }"
                        placeholder="Statut"
                        popupHeight="200px"
                        floatLabelType="Always"
                        #statut
                      >
                      </ejs-dropdownlist>
                    </div>
                    <div class="col-12">
                      <div class="form-row">
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                          <div class="e-float-input">
                            <input
                              id="password"
                              type="password"
                              formControlName="password"
                            />
                            <span class="e-float-line"></span>
                            <label for="password" class="e-float-text"
                              >Password</label
                            >
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                          <div class="e-float-input">
                            <input
                              id="confPassword"
                              type="password"
                              formControlName="confPassword"
                            />
                            <span class="e-float-line"></span>
                            <label for="confPassword" class="e-float-text"
                              >Confirme Password</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <button
              (click)="saveUser(userForm.value)"
              mat-raised-button="mat-raised-button-left"
              color="primary"
              [disabled]="!userForm.valid"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
  <div class="row" style="margin-top: 0px;">
    <div class="e-card" id="basic_card">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title">
            <h3>Liste Users</h3>
          </div>
        </div>
      </div>
      <div class="e-card-content">
      <h3>Liste User</h3>
    <div id="action-description">
      <p>This sample demonstrates the Grid component with the detail template feature. Click the expand button
        in each Grid row to show the detailed information about a row.
      </p>
    </div>
    <div class="control-section">
      <ejs-grid #grid [dataSource]='data2' id='Grid'>
        <ng-template #detailTemplate let-data>
          <table class="detailtable" width="100%">
            <colgroup>
              <col width="35%">
              <col width="35%">
              <col width="30%">
            </colgroup>
            <tbody>
              <tr>
                <td rowspan="4" style="text-align: center;">
                  <img class='photo' src="./assets/grid/images/{{data.EmployeeID}}.png" alt="{{data.EmployeeID}}" />
                </td>
                <td>
                  <span style="font-weight: 500;">Full name: </span> {{data.fullName}}
                </td>
                <td>
                  <span style="font-weight: 500;">Status: </span> {{data.status}}
                </td>
              </tr>
                    </tbody>
          </table>
        </ng-template>
        <e-columns>
          <e-column field='fullName' headerText='Name' width='120'></e-column>
          <e-column field='status' headerText='Title' width='170'></e-column>
          <e-column field='HireDate' headerText='Hire Date' width='135' textAlign='Right' format='yMd'></e-column>
          <e-column field='ReportsTo' headerText='Reports To' width='120' textAlign='Right'></e-column>
        </e-columns>
    
      </ejs-grid>
    
    
    </div>
      </div>
    </div>
  </div>
</div>