<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
  <div class="row" style="margin-top: 0px;">
    <div class="e-card" id="basic_card">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title">
            <h3>New User</h3>
          </div>
        </div>
      </div>
      <div class="e-card-content">
        <form [formGroup]="userForm" novalidate="novalidate">
          <div class="form-group">
            <div class="form-row">
              <div class="col-xs-3 col-sm-3 col-lg-4 col-md-4">
                <div class="e-float-input">
                  <input id="fullName" type="text" formControlName="fullName" />
                  <span class="e-float-line"></span>
                  <label for="fullName" class="e-float-text">Full Name</label>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-lg-4 col-md-4">
                <div class="e-float-input">
                  <input
                    id="email"
                    type="text"
                    formControlName="email"
                    placeholder="email"
                  />
                  <span class="e-float-line"></span>
                  <label for="email" class="e-float-text">Email</label>
                </div>
              </div>
              <div
                *ngIf="projet.length > 0"
                class="col-xs-3 col-sm-3 col-lg-4 col-md-4"
              >
                <ejs-dropdownlist
                  id="statut"
                  formControlName="statut"
                  [dataSource]="status"
                  placeholder="Role"
                  popupHeight="200px"
                  floatLabelType="Always"
                  #statut
                ></ejs-dropdownlist>
              </div>
              <div
                *ngIf="projet.length > 0"
                class="col-xs-3 col-sm-3 col-lg-4 col-md-4"
              >
                <ejs-dropdownlist
                  id="projet"
                  formControlName="projet"
                  [dataSource]="data"
                  (change)="onChange($event)"
                  [fields]="{ text: 'project', value: '_id' }"
                  placeholder="Projet"
                  popupHeight="200px"
                  floatLabelType="Always"
                  #projet
                ></ejs-dropdownlist>
              </div>
              <div class="col-xs-3 col-sm-3 col-lg-4 col-md-4">
                <span class="e-float-line"></span>
                <label for="country" class="e-float-text">Country</label>
                <div class="e-float-input e-disabled">
                  <input
                    id="country"
                    type="text"
                    formControlName="country"
                    placeholder="country"
                    disabled
                  />
                </div>
              </div>

              <div class="col-xs-3 col-sm-3 col-lg-4 col-md-4">
                <span class="e-float-line"></span>
                <label for="structure" class="e-float-text">Structure</label>
                <div class="e-float-input e-disabled">
                  <input
                    id="structure"
                    type="text"
                    formControlName="structure"
                    placeholder="structure"
                    disabled
                  />
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-lg-4 col-md-4">
                <span class="e-float-line"></span>
                <label for="level" class="e-float-text">Leve of Car</label>
                <div class="e-float-input e-disabled">
                  <input
                    id="level"
                    type="text"
                    formControlName="level"
                    placeholder="level of care"
                    disabled
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <button
              (click)="saveUser(userForm.value)"
              mat-raised-button="mat-raised-button-left"
              color="primary"
              
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
